server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: utf-8
      enabled: true

spring:
  mvc:
    view:
      prefix: /
      suffix: .html

  datasource:
    hikari:
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://localhost:3306/til?serverTimezone=Asia/Seoul
      username: daeun
      password: 1234 #DB ID, 비밀번호는 본인거 넣으시면 돼요


  jpa:
    open-in-view: true #open-in-view가 false로 잡혀있으면 세션이 Service와 Controller 사이에서 종료된다.
    hibernate:
      ddl-auto: update #create update none, 처음엔 create, 그 다음부턴 update를 하셔야 DB refresh가 안돼요
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

    properties:
      hibernate:
        show-sql: true
        format_sql: true
        default_batch_fetch_size: 1000

  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB #미디어 최대 크기 지정

  security:
    user:
      name: test
      password: 1234

jwt:
  secret: javainuse

logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error
    org:
      hibernate:
        SQL: debug